@font-face {
  font-family: "TTNorms";
  src: url(../fonts/TTNorms-Regular.woff);
  font-weight: normal;
}
@font-face {
  font-family: "TTNorms";
  src: url(../fonts/TTNorms-Medium.woff);
  font-weight: 500;
}
@font-face {
  font-family: "TTNorms";
  src: url(../fonts/TTNorms-ExtraBold.woff);
  font-weight: 800;
}
@font-face {
  font-family: "TTNorms";
  src: url(../fonts/TTNorms-Bold.woff);
  font-weight: 700;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "TTNorms", sans-serif;
}

body {
  background: -webkit-linear-gradient(90deg, #1c1a22, #211e28 100%);
  background: -moz-linear-gradient(90deg, #1c1a22, #211e28 100%);
  background: linear-gradient(90deg, #1c1a22, #211e28 100%);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  padding-top: 100px;
}
.header h1 {
  background: linear-gradient(270deg, #1e1a27, white 35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 72px;
  margin-bottom: 100px;
}

.circle__container {
  position: relative;
  width: 1050px;
  height: 1050px;
  padding: 0;
  border-radius: 50%;
  list-style: none;
}
.circle__container > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: -60px;
}
.circle__container > *:nth-of-type(1) {
  transform: rotate(10deg) translate(525px) rotate(-10deg);
}
.circle__container > *:nth-of-type(2) {
  transform: rotate(32.5deg) translate(525px) rotate(-32.5deg);
}
.circle__container > *:nth-of-type(3) {
  transform: rotate(55deg) translate(525px) rotate(-55deg);
}
.circle__container > *:nth-of-type(4) {
  transform: rotate(77.5deg) translate(525px) rotate(-77.5deg);
}
.circle__container > *:nth-of-type(5) {
  transform: rotate(100deg) translate(525px) rotate(-100deg);
}
.circle__container > *:nth-of-type(6) {
  transform: rotate(122.5deg) translate(525px) rotate(-122.5deg);
}
.circle__container > *:nth-of-type(7) {
  transform: rotate(145deg) translate(525px) rotate(-145deg);
}
.circle__container > *:nth-of-type(8) {
  transform: rotate(167.5deg) translate(525px) rotate(-167.5deg);
}
.circle__container > *:nth-of-type(9) {
  transform: rotate(190deg) translate(525px) rotate(-190deg);
}
.circle__container > *:nth-of-type(10) {
  transform: rotate(212.5deg) translate(525px) rotate(-212.5deg);
}
.circle__container > *:nth-of-type(11) {
  transform: rotate(235deg) translate(525px) rotate(-235deg);
}
.circle__container > *:nth-of-type(12) {
  transform: rotate(257.5deg) translate(525px) rotate(-257.5deg);
}
.circle__container > *:nth-of-type(13) {
  transform: rotate(280deg) translate(525px) rotate(-280deg);
}
.circle__container > *:nth-of-type(14) {
  transform: rotate(302.5deg) translate(525px) rotate(-302.5deg);
}
.circle__container > *:nth-of-type(15) {
  transform: rotate(325deg) translate(525px) rotate(-325deg);
}
.circle__container > *:nth-of-type(16) {
  transform: rotate(347.5deg) translate(525px) rotate(-347.5deg);
}
.circle__container li {
  overflow: hidden;
}
.circle__container li img {
  display: block;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
